.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    box-shadow: 0px 4px 40px 4px #00000040;
    font-weight: 400;
    font-family: sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

.logo {
    padding: 37px 21px 37px 21px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.logo h2 {
    font-size: 24px;
    line-height: 28.8px;
}

.logo p {
    font-family: 'Times New Roman';
    font-size: 18px;
    line-height: 22px;
    text-align: right;
}

.proposal {
    padding: 0 21px 0 21px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.proposial-text {
    width: 447px;
    margin: 0 auto;
}

.proposial-text h1 {
    margin: 0;
    font-size: 42px;
    font-weight: 500;
    line-height: 72px;
}

.proposial-text p {
    font-family: 'Times New Roman';
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 23px 0;
}

.proposial-text a {
    width: 446px;
    height: 50px;
    display: block;
    text-decoration: none;
    border: 1px solid #000000;
    text-align: center;
    align-items: center;
    font-size: 24px;
    line-height: 49px;
    color: #000000;
}

.proposial-text a:hover {
    background-color: #d1ccccb7;
    transition: 300ms ease;
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    -ms-transition: 300ms ease;
    -o-transition: 300ms ease;
}

.prorosial-slider {
    max-width: 772px;
    min-width: 320px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slider-line {
    display: flex;
    /* overflow: hidden; */
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 56px;
}

.slider-item {
    max-width: 246px;
    height: 410px;
    margin-right: 17px;
}

.slider-item:last-child {
    margin-right: 0;
}

.slider-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;
}

.slider-left,
.slider-right {
    border: none;
    background-color: #ffffff;
}

.slider-active {
    cursor: pointer;
}

.slider-right:hover path {
    fill: red;
    transition: 300ms ease;
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    -ms-transition: 300ms ease;
    -o-transition: 300ms ease;
}

.slider-left:hover path {
    fill: red;
    transition: 300ms ease;
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    -ms-transition: 300ms ease;
    -o-transition: 300ms ease;
}

.slider-dot {
    display: flex;
    width: 50px;
    justify-content: space-between;
}

.dot-item {
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-color: #c4c4c4;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.dot-active {
    background-color: #000000;
    cursor: none;
}